.intro-container h1,
.intro-container h2,
.intro-container h3,
.intro-container h4,
.intro-container h5,
.intro-container h6,
.intro-container p {
  margin: 0;
}

.intro-container a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.intro-container .bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  z-index: -1;

  background-image: url("./assets/images/rocket.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  opacity: 0.26;
}

.intro-container  {
  width: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  min-height: 100dvh;
  margin: 0;
  background-color: black;
  color: white;
  font-size: 32px;

  animation: fadeInAnimation ease-in 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.intro-container .container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100dvh;
  max-width: 1472px;
  padding: 0 16px;

  margin: auto;
}

.intro-container header {
  display: flex;
  justify-content: space-between;
  max-width: 1472px;

  padding: 18px 16px;
  margin: auto;
  margin-bottom: -68px;
}

.intro-container .logo {
  width: 84px;
  height: 32px;

  background-image: url("./assets/icons/logo.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.intro-container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-container .title {
  max-width: 920px;
  font-size: 78px;
  font-weight: 700;
  line-height: 92px;
  letter-spacing: -3.12px;
  margin-bottom: 48px;

  text-align: center;
}

.intro-container .title img {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 74px;
  height: 96px;
  top: -8px;
}

.intro-container .subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.034px;

  max-width: 690px;
  text-align: center;

  margin-bottom: 16px;
}

.intro-container #timer {
  font-size: 44px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -1px;
  font-variant-numeric: lining-nums tabular-nums;
}

.intro-container .timer-item {
  margin: 0 10px;
  position: relative;
}

.intro-container .timer-item:last-child {
  margin-right: 0;
}

.intro-container .timer-item:first-child {
  margin-left: 4px;
}

.intro-container .timer-item:first-child::after,
.intro-container .timer-item:first-child::before {
  content: none;
}

.intro-container .timer-item::before,
.intro-container .timer-item::after {
  content: "";
  position: absolute;
  left: -12px;
  top: 50%;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
}

.intro-container .timer-item::before {
  transform: translateY(-150%);
}

.intro-container .timer-item::after {
  transform: translateY(50%);
}

.intro-container .button {
  border-radius: 100px;
  background: #0098ea;
  margin-bottom: 88px;
  padding: 12px 24px;

  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.018px;

  transition: background 0.2s ease-in-out;
}

.intro-container .button:hover {
  background: #00a6ff;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 734px) {
  .intro-container header {
    padding: 8px 16px;
    margin-bottom: -48px;
  }

  .intro-container .title {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -1.08px;

    margin-bottom: 8px;
  }

  .intro-container .title img {
    width: 38px;
    height: 42px;
    top: -5px;
  }

  .intro-container .subtitle {
    font-variant-numeric: lining-nums tabular-nums;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.016px;

    margin-bottom: 8px;
  }

  .intro-container .button {
    padding: 6px 16px;

    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.008px;

    margin-bottom: 40px;
  }

  .intro-container #timer {
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -0.048px;
  }
}

@media (min-width: 1920px) {
  .intro-container .title {
    font-size: 92px;
    line-height: 100px;
    letter-spacing: -3.68px;
    max-width: 1080px;
  }

  .intro-container .subtitle {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -0.037px;
    max-width: 715px;
  }
}

@media (min-width: 2560px) {
  .intro-container .title {
    font-size: 116px;
    line-height: 132px;
    letter-spacing: -4.64px;
    max-width: 1390px;
  }

  .intro-container .subtitle {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.048px;
    max-width: 884px;
  }
}
